name: Build project
description: Set up the environment and build the project

inputs:
    dotnet-version:
        description: "Version of dotnet"
        required: true
        default: 7.x

runs:
    using: "composite"
    steps:
        -   name: Set up dotnet environment
            uses: actions/setup-dotnet@v3
            with:
                dotnet-version: ${{ inputs.dotnet-version }}
        -   name: Set up dotnet tools
            run: dotnet tool restore
        -   name: Build dotnet solution
            # Build variant first to avoid compilation errors in projects referencing variant library
            run: dotnet build variant ; dotnet build .